# # Mikufy v2.11-nova
# 作者 luozenan

[Desktop Entry]
Type=Application
Name=mikufy
Comment=Mikufy v2.11-nova
Exec=mikufy
Icon=mikufy
Terminal=false
Categories=Network;WebDevelopment;Utility;GTK;
StartupNotify=false
Keywords=web;server;gtk;mikufy;
NoDisplay=false
